<%= form_for([lamp.bridge, lamp], url: bridge_lamp_path(lamp.bridge, lamp), html: {class: "on_off"})  do |f| %>
  <%= f.hidden_field :command, value: "toggle_on_off" %>
  <%= f.submit "Toggle #{lamp.say_on_off}?", class: "tiny button radius" %>
<% end %>

<%= form_for([lamp.bridge, lamp], url: bridge_lamp_path(lamp.bridge, lamp), html: {class: "colorloop"})  do |f| %>
  <%= f.hidden_field :command, value: "toggle_colorloop" %>
  <%= f.submit "Toggle Colorloop #{lamp.say_colorloop}?", class: "tiny button radius" %>
<% end %>

<%= form_for([lamp.bridge, lamp], url: bridge_lamp_path(lamp.bridge, lamp), html: {class: "brightness"})  do |f| %>
  <div class="slider-input ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
  </div>
  <%= f.hidden_field :command, value: "adjust_brightness", brightness: "0", html: {class: "brightvalue"} %>
  <%= f.submit "Set Brightness to", class: "tiny button radius" %>
<% end %>
