

<div class="row">
  <div class="large-3 large-offset-9 columns">
    <%= render '/layouts/login_form' %>
  </div>
<div class="large-4 large-offset-4 columns">
  <h1>Sign Up</h1>

  <%= flash[:success] %>

  <%= form_for @user, :url => users_path, :html => {:data => {:abide => ''}} do |f| %>
    
    <%= f.text_field :first_name, placeholder: "first name" %>
    <% unless @user.errors[:first_name].empty? %>
      <%=raw("<small class='error'>") + @user.errors[:first_name].join(',') + raw("</small>") %>
    <% end %>
    <%= @user.errors[:last_name].join(',') %>
    <%= f.text_field :last_name, placeholder: "last name" %>
    
    <%= @user.errors[:email].join(',') %>
    <%= f.email_field :email, placeholder: "email" %>
    
    <%= @user.errors[:username].join(',') %>
    <%= f.text_field :username, placeholder: "username" %>
    
    <%= @user.errors[:password].join(',') %>
    <%= f.password_field :password, placeholder: "password" %>
    
    <%= @user.errors[:password_confirmation].join(',') %>
    <%= f.password_field :password_confirmation, placeholder: "password confirmation" %>
    
    <%= f.submit "sign up", class: "button" %>
  <% end %>

</div>
</div>