<h1>Sign Up</h1>

<%= flash[:success] %>

<%= form_for @user, :url => users_path do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= @user.errors[:first_name].join(',') %></br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= @user.errors[:last_name].join(',') %></br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= @user.errors[:email].join(',') %></br>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= @user.errors[:password].join(',') %></br>
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %>
  <%= @user.errors[:password_confirmation].join(',') %></br>
  <%= f.submit "sign up" %>
<% end %>

