<%= flash[:notice] %>

<h1>Lamps</h1>
<ul data-orbit data-options="timer_speed:0; animation_speed:0; timer:false; caption_clas:'none'; active_slide_clas:'none'">
  <% @lamps.each do |lamp| %>
  <li>
    <div class="lamplist">
      <div>Lamp <%= lamp.id %></div>
      <div>
        <%= render "/lamps/lampform", :lamp => lamp %>
      </div>
    </div>
  </li>
  <% end %>
</ul>

<h1>Groups</h1>
<ul>
  <% @groups.each do |group| %>
  <li>
    <div><%= group.name %></div>
      <ul>
        <% group.lamps.reverse.each do |lamp| %>
          <li><%= lamp.id %></li>
        <% end %>
      </ul>
    <% end %>
    </div>
  </li>
</ul>
