<%= flash[:notice] %>

<h1>Lamps</h1>
<ul>
  <% @lamps.each do |lamp| %>
  <li>
    <div>
      <div>Lamp <%= lamp.id %></div>
      <div>
        <%= render "/lamps/lampform", :lamp => lamp %>
      </div>
    </div>
  </li>
  <% end %>
</ul>

<h1>Groups</h1>
<ul>
  <% @groups.each do |group| %>
  <li>
    <div><%= group.name %></div>
      <ul>
        <% group.lamps.reverse.each do |lamp| %>
          <li><%= lamp.id %></li>
        <% end %>
      </ul>
    <% end %>
    </div>
  </li>
</ul>
