<h5 class="font-white">Login</h5>
<%= flash[:notice] %>

<%= form_for :session, :url => sessions_path do |f| %>
  <%= f.text_field :email, placeholder: "email" %>
  <%= f.password_field :password, placeholder: "password" %>
  <%= f.submit "login", class: "button small round" %>
<% end %>
